
@{
    ViewBag.Title = "Marca";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="mt-2">Marca</h2>

<ol class="breadcrumb mb-4 mt-4">
    <li class="breadcrumb-item"><a href="index.html">Mantenimiento</a></li>
    <li class="breadcrumb-item active">Marca</li>
</ol>

<div id="card" class="card">
    <div class="card-header">
        <i class="fas fa-table me-1"></i> Lista de Marcas
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn-success" onclick="abrirModal(null)">Crear Nuevo</button>
            </div>
        </div>

        <hr />

        <table id="tablaMarca" class="display cell-border" style="width: 100%">
            <thead>
                <tr>
                    <th>Descripción</th>
                    <th>Activo</th>
                    <th>Fecha de Registro</th>
                    <th> </th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="FormModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title" id="exampleModalLabel">Agregar Marca</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row mt-2">
                    <div class="col-12">
                        <div id="MensajeError" class="alert alert-danger" role="alert">
                            A simple danger alert—check it out!
                        </div>
                    </div>
                </div>
                <input id="txtid" type="hidden" value="0" />
                <div class="row g-2">
                    <div class="col-sm-8">
                        <div class="mb-3">
                            <label for="txtDescripcion" class="form-label">Descripción</label>
                            <input type="text" class="form-control" id="txtDescripcion" autocomplete="off">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <label for="cboactivo" class="form-label">Activo</label>
                        <select id="cboactivo" class="form-select" aria-label="Default select example">
                            <option value="1">Si</option>
                            <option value="0">No</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="Guardar()">Guardar</button>
            </div>
        </div>
    </div>
</div>

@section scripts{





    <script>

        var tabladata;
        var FilaSelec;
        var DateF;
        table = $('#tablaMarca').DataTable();
        CargarDatos();
        ObtenerFecha();


        function CargarDatos() {
             table.destroy();
             tabladata = $("#tablaMarca").DataTable({
                responsive: true,
                ordering: false,
                lengthChange: false,
                 dom: 'Bfrtip',
                 buttons: [{
                     //Botón para Excel
                     extend: 'excel',
                     footer: true,
                     title: 'Archivo',
                     filename: 'Export_File',

                     //Aquí es donde generas el botón personalizado
                     text: '<button class="btn btn-success">Exportar a Excel <i class="fas fa-file-excel"></i></button>'
                 },
                 //Botón para PDF
                 {
                     extend: 'pdf',
                     footer: true,
                     title: 'Archivo PDF',
                     filename: 'Export_File_pdf',
                     text: '<button class="btn btn-danger">Exportar a PDF <i class="far fa-file-pdf"></i></button>'
                     },
                     {
                         extend: 'copy',
                         footer: true,
                         title: 'Archivo PDF',
                         text: '<button class="btn btn-info">Copiar <i class="far fa-file-pdf"></i></button>'
                         exportOptions: {
                             modifier: {
                                 page: 'current'
                             }
                         }

                     }


                 ],
/*                buttons: ['copy', 'excel', 'pdf', 'print'],*/
                "ajax": {
                url: '@Url.Action("ListarMarca", "Mantenedor")',
                type: "GET",
                datatype: "json"
                 },
                "columns": [
                {"data": "Descripcion" },
                {
                    "data": "Activo", "render": function (valor) {
                            if (valor) {
                                return '<span class="badge bg-success" > Si </span> '
                            } else {
                                return '<span class="badge bg-danger" > No </span> '
                            }
                        }
                    },
                {"data": "FechaRegistro" },
                {
                    "defaultContent": '<button type="button" class=" btn btn-primary btn-sm dtnEditar"><i class="fas fa-pen"></i></button>'
                                    + '<button type="button" class="btn btn-danger btn-sm ms-2 btn-eliminar"><i class="fas fa-trash me-1"></i></button>',
                "orderable": false,
                "searchable": false,
                "width": "90px"

                    }
                ],
                "language": {
                    "url": "https://cdn.datatables.net/plug-ins/1.13.6/i18n/es-ES.json"
                 }

             });

            tabladata.buttons().container()
                .appendTo('#example_wrapper .col-md-6:eq(0) .btn');
            //ExportTable();
        }

        function abrirModal(json) {
            $("#txtid").val(0);
            $("#txtDescripcion").val("");
            $("#cboactivo").val(1);

            $("#MensajeError").hide();

            if (json != null) {
                $("#txtid").val(json.IdMarca);
                $("#txtDescripcion").val(json.Descripcion);
                $("#cboactivo").val(json.Activo == true ? 1 : 0);
                $("#txtFechaR").val(json.FechaRegistro);
                console.log(json);
            }
            $("#FormModal").modal("show");
        }

        //Abrir modal al editar
        $("#tablaMarca tbody").on("click", '.dtnEditar', function () {
            FilaSelec = $(this).closest("tr");
            var data = tabladata.row(FilaSelec).data();

            abrirModal(data);
        })

        //Boton Crear nuevo y Editar
        function Guardar() {

            var Marca = {
                IdMarca: $("#txtid").val(),
                Activo: $("#cboactivo").val() == 1 ? true: false,
                Descripcion: $("#txtDescripcion").val(),
                FechaRegistro: " "
            }

            jQuery.ajax({
                url: '@Url.Action("GuardarMarca", "Mantenedor")',
                type: "POST",
                data: JSON.stringify({objeto: Marca }),
                dataType: "json",
                contentType: "application/json; charser=utf-8",
                success: function (data) {
                    $(".modal-body").LoadingOverlay("hide");
                    //NUEVA MARCA
                    //Marca.FechaRegistro = DateF;
                    if (Marca.IdMarca == 0) {
                        DestroyTable();
                        if (data.resultado != 0) { // resultado es = al Id del nuevo registro
                            $("#FormModal").modal("hide");
                        }
                        else { //Entra si no esta guardando bien el Id del nuevo registro
                            $(".modal-body").LoadingOverlay("hide");
                            $("#MensajeError").text(data.mensaje);
                            $("#MensajeError").show();
                        }
                    }
                    else { //MARCA EDITAR
                        if (data.resultado) {
                            DestroyTable();
                            FilaSelec = null;
                            $("#FormModal").modal("hide");

                         }
                        else {
                            $(".modal-body").LoadingOverlay("hide");
                            $("#MensajeError").text(data.mensaje);
                            $("#MensajeError").show();
                        }
                    }
                },
                error: function (error) {
                    $(".modal-body").LoadingOverlay("hide");
                $("#MensajeError").text("Error Ajax");
                $("#MensajeError").show();
                },
                beforeSend: function () { //Ejecución durante se hace el llamado
                    $(".modal-body").LoadingOverlay("show", {
                        imageResizeFactor: 2,
                        text: "Cargando.....",
                        size: 14
                    })
                }
            }) //jquery
        }

        //Boton Grid Eliminar
        $("#tablaMarca tbody").on("click", '.btn-eliminar', function () {
            var MarcaSeleccionado = $(this).closest("tr");
            var data = tabladata.row(MarcaSeleccionado).data();

            swal({
                title: "¿Desea Eliminar la marca?",
                text: " ",
                type: "warning",
                showCancelButton: true,
                ConfirmButtonClass: "btn-primary",
                confirmButtonText: "Si, Eliminar",
                cancelButtonText: "No",
                closeOnConfirm: true
            },
            function () {//cuando se presiona si
                jQuery.ajax({
                    url: '@Url.Action("EliminarMarca", "Mantenedor")',
                    type: "POST",
                    data: JSON.stringify({ id: data.IdMarca }),
                    dataType: "json",
                    contentType: "application/json; charset=urf-8",
                    success: function (data) {
                        if (data.resultado) {
                            swal("Eliminado!", "Se ha eliminado el registro correctamente.", "success");
                            tabladata.row(MarcaSeleccionado).remove().draw();
                        } else {
                            swal("No se pudo eliminar", data.mensaje, "error")
                        }
                    },
                    error: function (error) {
                        console.log(error)
                    },
                    beforeSend: function () {
                    },
                });
            });
            console.log(data);
        })


        //OTRAS FUNCIONES
        function ObtenerFecha() {
            const date = new Date();
            const Year = date.getFullYear();
            var Month = date.getMonth();
            Month = Month + 1;
            const Day = date.getDate();

            const Hour = date.getHours();
            const Minute = date.getMinutes();
            var Second = date.getSeconds();
            var dt = (Hour >= 12) ? " p. m." : " a. m."

            if (Minute <= 9) {
                Second = "0" + Second;
            }

            DateF = (Day + "/" + Month + "/" + Year + " " + Hour + ":" + Minute + ":" + Second + dt);

        }

        function DestroyTable() {

            table.destroy();
            CargarDatos();
        }

        function ExportTable() {
            var table = $('#tablaMarca').DataTable({
                lengthChange: false,
                buttons: [
                    {
                        extend: 'csv',
                        split: ['pdf', 'excel'],
                    },
                    'colvis'
                ]
            });

            table.buttons().container()
                .appendTo('#example_wrapper .col-md-6:eq(0)');
        }

    </script>



}